extends layouts/default

block content

	main.main-content.align-middle
		img.main-content__logo(src="assets/img/logo_honeyKid.svg")
		h1.main-content__header Открытие сайта мастерской детского текстиля #[strong «Honey kid»]
		span.main-content__sub-header 1 Августа 2017

		.main-content__timer.timer

			.timer__item
				span.timer__num 01
				span.timer__text День

			.timer__item
				span.timer__num 01
				span.timer__text Часа

			.timer__item
				span.timer__num 01
				span.timer__text Минуты

