extends layouts/default

block content

	main.main-content.align-middle
		img.main-content__logo(src="assets/img/logo_honeyKid.svg")
		h1.main-content__header.
			Открытие сайта<br> 
			мастерской детского<br> 
			текстиля #[strong «Honey kid»]
		span.main-content__sub-header #[strong 1 Августа 2017]
		span.main-content__sub-header Осталось:

		.main-content__timer.timer

			.timer__item
				span.timer__num#days 
				span.timer__text Дней

			.timer__item
				span.timer__num#hours 
				span.timer__text Часов

			.timer__item
				span.timer__num#minutes 
				span.timer__text Минут
