extends layouts/default

//- Ссылки на все возможные варианты favicon's
block favicons
	include partials/favicons

block body

	//- Класс ".hp" это home-page - домашняя страница
	body.hp

		//- Класс ".g-wrapper" - это глобальная обертка для всего контента на странице
		.hp__g-wrapper.g-wrapper

			//- Для главной страницы используется основной sidebar
			block sidebar
				aside.hp__sb.sb-column
					include partials/sidebar-main

			//- Для главной страницы используется основной sidebar
			block content

				.hp__m-column.m-column

					nav.hp__nav.nav
						include partials/navigation

					header.hp__header.header

			block footer
