extends layouts/default

//- Ссылки на все возможные варианты favicon's
block favicons
	include partials/favicons

block body

	//- Класс ".hp" это home-page - домашняя страница
	body.hp
		//- Класс ".g-wrapper" - это глобальная обертка для всего контента на странице
		.hp__grid.g-grid
			//- Для главной страницы используется основной sidebar
			block sidebar
				aside.hp__sb.sb-column
					a(href="index.html").hp__logo.logo
						img(src=logo.src)
					.wrap.sidebar
						include partials/sidebar-main

			block content
				main.hp__m-column.m-column
					//- Основная навигация
					nav.hp__nav.nav
						.nav__wrap.style-elem
							include partials/navigation
						.nav__wrap-btn.style-elem
							include partials/cart

					//- Шапка основной страницы
					header.hp__header.header.style-elem.wrap-block
						include partials/header

					section.hp__wrap.wrapper

						form.hp__search.search.style-elem.wrap-elem
							include partials/search

						button.hp__filter.filter.style-elem.wrap-btn
							include partials/filter-btn

					section.hp__block-goods.block-goods.style-elem

						include partials/block-goods

			block footer
				.hp__m-footer.m-footer
