h1.block-goods__header Каталог детского текстиля

article.block-goods__card.card
	include card
article.block-goods__card.card
	include card
article.block-goods__card.card
	include card
article.block-goods__card.card
	include card
article.block-goods__card.card
	include card
article.block-goods__card.card
	include card