section.mini-cart__submenu

	.mini-cart__counter
		span
			| Всего товаров:
			strong  2 шт 
		span
			| на сумму:
			strong  8200 руб.

	a(href="#").mini-cart__item
		img.mini-cart__head-img(src="http://via.placeholder.com/400x400", alt="")
		article.mini-cart__item-info
			h6.mini-cart__info-header Звездочка
			p.mini-cart__info-label Набор мягких бортиков
			span.mini-cart__info-price 6400 руб.