nav.nav-mobile
	a.nav-mobile__logo-wrap(href="#")
		img.nav-mobile__logo(src="/assets/img/line_logo.png", alt="")

	.nav-mobile__first-panel.style-elem


	button.nav-mobile__menu-btn.style-elem(type='button', data-toggle='offCanvas')
		i.fa.fa-bars.fa-fw.nav-mobile__btn-icon(aria-hidden='true')
		span.nav-mobile__btn-val 2