ul.nav__list.list
	each items in navList
		li.nav__item.list__item
			a(href=items.href).nav__btn= items.name

ul.nav__soc-net.list
	small.nav__small-text Мы в сообществах:
	li.list__item
		a(href="#")
			i(class="fa fa-vk" aria-hidden="true")
	li.list__item
		a(href="#")
			i(class="fa fa-instagram" aria-hidden="true")
	li.list__item
		a(href="#")
			i(class="fa fa-pinterest" aria-hidden="true")