ul.nav__list
	each items in navList
		li.nav__item
			a(href=items.href)= items.name

ul.nav__soc-net
	small.nav__small-text Мы в сообществах:
	li.nav__item
		a(href="#")
			i(class="fa fa-vk" aria-hidden="true")
	li.nav__item
		a(href="#")
			i(class="fa fa-instagram" aria-hidden="true")
	li.nav__item
		a(href="#")
			i(class="fa fa-pinterest" aria-hidden="true")