.list, .sub-list
	margin: 0
	padding: 0
	&__item
		list-style-type: none

.list
	&__horisontal
		@include xy-grid
	&__item
		&:hover .sub-list
			display: block

.sub-list
	padding: 1rem
	padding-left: calc(1rem + 12px)
	list-style-type: none
	&__header, &__button
		color: $white

	.list__item:hover &
		visibility: visible
		transition: left .3s ease-in

.style-sub-elem
	position: absolute
	top: 0
	left: 12px
	width: 200px
	height: 450px
	background-color: $main-color
	border-radius: 0 12px 12px 0
	visibility: hidden
	transition: visibility 0s linear .3s, left .3s ease-out
	z-index: -1
	.list__item:hover &
		visibility: visible
		left: calc(100% - 12px)
		box-shadow: 0px 0px 10px 0px rgba(57,90,119,0.25);
		transition: left .3s ease-in,box-shadow .1s linear .2s