.main-content
	@include xy-grid-container
	@include xy-grid(vertical, false)
	height: 100vh
	justify-content: center;

	&__logo
		@include xy-cell(4);

	&__header, &__sub-header
		@include xy-cell(6);
		font-size: 3rem
		text-align: center
		line-height: 1.2
		display: block

	&__timer
		@include xy-cell(4);

.timer
	@include xy-grid(horizontal, true)
	
	&__item
		@include xy-cell(1 of 3)
		@include xy-grid

	&__num, &__text
		@include xy-cell(1 of 1)
		text-align: center

	&__num
		font-size: 4rem
		font-weight: bold
		line-height: 1.2





		