$main-color: #c2dcf3

$bg-size: 500px

body
	background-color: $main-color
	background-image: url(../img/bg_pattern.png)
	background-size: $bg-size $bg-size
	background-position-x: calc(#{$bg-size}/2)
	animation-name: "bgmove"
	animation-duration: 30s
	animation-iteration-count: infinite
	animation-timing-function: linear

	@keyframes bgmove
		0% 
			background-position-y: 0px
		100%
			background-position-y: $bg-size

.g-grid
	@include xy-grid-container();
	@include xy-grid;

.m-column
	@include xy-cell(10 of 12);