.nav
	@include xy-grid(horizontal, false)
	justify-content: space-between

	&__wrap
		@include xy-grid(horizontal)
		justify-content: space-between
		flex-basis: 100%


	&__list, &__soc-net
		@include xy-grid(horizontal)