.nav
	@include xy-grid(horizontal, false)
	justify-content: space-between
	margin-bottom: 1rem

	&__wrap
		flex-basis: 100%

	&__wrap-btn
		margin-left: 1rem

	&__wrap, &__wrap-btn
		@include xy-grid(horizontal)
		justify-content: space-between
		align-items: center

	&__list, &__soc-net
		@include xy-grid(horizontal)
		align-items: center
		height: 50px

	&__item
		position: relative
		height: 100%;
		&::after
			@include vertical-center;
			position: absolute
			content: ""
			right: 0
			width: 1px
			height: calc(100% - 1rem)
			background-color: $main-light-gray

		&:last-child
			&::after
				display: none
		
		&:first-child
			transition: background-color .2s ease-out
			border-top-left-radius: 12px
			border-bottom-left-radius: 12px
		&:hover
			background-color: $main-color
			transition: background-color .2s ease-in
			&::after
				display: none
			.nav__btn
				color: $white
				transition: .2s ease-in

	&__btn
		height: 100%
		display: flex
		align-items: center
		padding: 0 .7rem
		color: $main-gray

	&__small-text
		color: $main-medium-gray
		margin-right: .5rem

	&__soc-item
		display: flex
		justify-content: center
		text-align: center
		border-radius: 8px
		margin-right: .5rem
		background-color: $main-medium-gray
		width: 32px
		height: 32px
		opacity: .7
		transition: opacity .3s ease-out
		&.vk
			background-color: #597da3
		&.insta
			background: linear-gradient(135deg, #8469a8 0%,#ff907e 100%);
		&.pin
			background-color: #be091c
		&:hover
			opacity: 1
			trasition: opacity .3s ease-in


	&__soc-btn
		display: flex
		justify-content: center
		align-items: center
		color: $white
		width: 100%
		opacity: .7
		transition: .2s ease-out .1s
		&:hover
			color: $white
			opacity: 1
			transition: opacity .2s ease-in .1s
		i
			// transform: translatey(1px)
			