.sb-column
	@include xy-cell(2 of 12)

	@media screen and (max-width: 1300px)
		@include xy-cell(1 of 5)


.sidebar
	position: relative
	z-index: 100

	&__list

	&__item
		height: 50px
		&:first-child
			transition: background-color .2s ease-out
			border-top-left-radius: 12px
			border-top-right-radius: 12px
		&:last-child
			border-bottom-left-radius: 12px
			border-bottom-right-radius: 12px
			.sidebar__button::after
				display: none
		&:hover
			background-color: $main-color
			transition: background-color .2s ease-in
			.sidebar__button
				color: $white
				transition: .2s ease-in

	&__button
		@include xy-grid
		position: relative
		justify-content: space-between
		align-items: center
		height: 100%
		padding: 0 1rem
		color: $main-gray
		transition: .2s ease-out
		&::after
			position: absolute
			content: ""
			@include horizontal-center;
			bottom: 0
			height: 1px
			width: calc(100% - 1rem)
			background-color: $main-light-gray
		&:hover
			&::after
				display: none

	&__text

	&__shevron
		color: $main-medium-gray

	&__sublist

.sub-list

	&__item
		padding-left: 0.5rem

	&__header, &__button
		font-size: 18px
	
	&__header
		margin-bottom: 0.2rem

	&__button
		color: lighten($main-color, 30%)
		transition: .2s ease-out
		&:hover
			color: $white
			transition: .2s ease-in
			

