.style-elem
	background-color: $white
	border-radius: 12px
	box-shadow: 0px 0px 10px 0px rgba(57,90,119,0.25);
	&.style-elem__active
		transition: .2s ease-out
		&:hover
			box-shadow: 0px 0px 24px 0px rgba(57,90,119,0.25);
			transition: .2s ease-in

.stule-sub-elem
	background-color: $main-color
	border-radius: 0 12px 12px 0
	z-index: -1