<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href='assets/css/app.css', rel='stylesheet')
		title Мастерская детского текстиля "Honey kid"
		meta(name='description' contant='В интернет магазине нашей мастерской "Honey kid" мы предлагаем изготовление конвертов на выписку, мягких бортиков в детскую кроватку, и много других товаров для вашего малыша')

		block favicons

	block body

		block sidebar
		block content
		block footer
		
		script(src='assets/js/app.js')